* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 0px #aaa;
}

header .logo {
  height: 60px;
  margin-right: auto;
}
header .logo img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}
header .navbar {
  display: flex;
}
header .navbar a {
  font-size: 1rem;
  padding: 0 1.5rem;
  color: #666;
  font-weight: bold;
}

header .navbar a:hover {
  color: #cab273;
}
header .icons {
  display: flex;
  margin-left: 0.5rem;
}
header .icons a {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  justify-content: center;
  border-radius: 50%;
  color: #333;
  margin-left: 0.5rem;
  position: relative;
}

header .icons a:hover {
  color: #cab273;
}

header .icons a span {
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
  top: -23px;
  right: 6px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  background-color: #cab273;
}

header #toggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 1rem;
    display: flex;
  }
}

@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }

  header .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }

  header #toggler:checked ~ .navbar {
    display: flex;
    flex-direction: column;
    background: #ffffff87;
    font-weight: bold;
  }

  header .navbar a {
    padding: 15px;
    background: #ffffff87;
    border-radius: 10px;
    display: block;
    font-weight: bold;
    font-size: medium;
  }

  header .icons a {
    font-size: 1.5rem;
    color: #333;
    margin-left: 0.5rem;
    font-weight: bold;
  }
  header .icons a span {
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    top: -23px;
    right: 6px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    background-color: #cab273;
  }
  header .icons a span {
    position: absolute;
    font-size: 1rem;
    top: -19px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 55.5%;
  }

  header {
    padding: 1rem;
  }
}

/* About us */
#aboutUs {
  background-image: url(./images/Gemstones.png);
  background-size: cover;
  background-position: center;
  height: 500px;
  max-width: 1500px;
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #f3f3f3;
}
.main-bannar-box {
  width: 100%;
  height: 100%;
}
.main-bannar-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.main-bannar-text {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-10%, -50%);
}
.main-bannar-text h1 {
  font-size: 2rem;
  max-width: 500px;
  line-height: 3.3rem;
  font-weight: 400;
  color: #333333;
  margin-top: 30px;
}
.main-bannar-text p {
  color: #333333;
  font-size: 1rem;
  margin: 10px 0px;
  letter-spacing: 0.1px;
}


.main-bannar-text button{
  background-image: url(./images/getOneNewbtn2.png);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: 250px;
  height: 250px;
  top: 0;
  right: -100px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  border: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.664);
}
.main-bannar-text button:hover{
  background-image: url(./images/getOneNewbtn.png);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;

}

@media (max-width: 768px) {
  .main-bannar-text button{
    width: 170px;
    height: 170px;
    right: -30px;
    font-size: 0.9rem;
  }
  .main-bannar-text button:hover{
    width: 170px;
    height: 170px;
    right: -30px;
    font-size: 0.9rem;
  }
}

/* Product */
#product {
  max-width: 1200px;
  width: 90%;
  margin: 90px auto;
}

.product-heading {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.product-heading h2 {
  font-size: 3rem;
  color: #202020;
  font-weight: 500;
}

.product-heading p {
  font-size: 2.8rem;
  color: #707070;
  font-weight: 400;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-box {
  max-width: 250px;
  width: 100%;
  margin: 0 50px 50px 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.product-img {
  width: 100%;
  height: 250%;
  display: flex;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.product-img span {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #cab273;
  color: #fff;
  padding: 3px 10px;
  font-weight: bold;
  border-radius: 4px;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  animation: colorChange 0.9s infinite;
}

@keyframes colorChange {
  from {
    background-color: #ffffff;
  }
  to {
    background-color: #cab273;
  }
}

.product-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 20px;
}
.product-text .product-title {
  color: #1d1d1d;
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.product-text span {
  color: #cab273;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-text p {
  font-size: 0.9rem;
  height: 100%;
}

.product-cart-but {
  position: absolute;
  left: 50%;
  bottom: -100%;
  transform: translateX(-50%);
  background-color: #ffffff82;
  border: none;
  outline: none;
  width: 130px;
  height: 40px;
  border-radius: 30px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.01);
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all ease 0.2s;
}
.product-cart-but i {
  color: #1d1d1d;
  margin-right: 5px;
}

.product-img:hover .product-cart-but {
  bottom: 20px;
}

/* review */
#review {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 60px 0px;
  margin: 40px auto;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}

.review-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review-heading h2 {
  font-size: 3rem;
  color: #202020;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 0px 5px;
}

.review-heading p {
  color: #696969;
  font-size: 1.5rem;
}

.review-box-container {
  width: 90%;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.review-box {
  flex: 0 0 calc(30% - 20px);
  margin: 3px;
  background-color: #fafafa;
  padding: 30px 10px;
  border: 1px solid #f1f1f1f1;
  border-radius: 10px 30px 10px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-profile {
  display: flex;
  align-items: center;
}

.review-profile img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  border-left: 10px;
  border-radius: 50%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.profile-text strong {
  color: #393939;
  font-size: 1rem;
  font-weight: 600;
}
.profile-text span {
  color: #949494;
  font-size: 0.8rem;
  font-weight: 400;
}

.rating {
  display: flex;
  margin: 10px 0px;
}
.rating i {
  font-size: 18px;
  color: #cab273;
}
.review-box p {
  color: #5a5a5a;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .review-box-container{
    flex-direction: column;
    align-items: center;
  }
  .review-box {
    width: 90%; 
    margin: 10px 0;
  }
  .rating {
    display: flex;
    margin: 10px 0;
  }
}

/* newsletter */
#newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/NewsletterBackground.png);
  background-size: cover;
  background-position: center;
  padding: 60px 0px;
  margin: 40px auto;
  border-bottom: 1px solid #f3f3f3;
}
.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.newsletter-container {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto;
}

.newsletter-box {
  padding: 100px 20px 100px 20px;
  background-color: #ffffffe7;
  border-radius: 32px;
  text-align: center;
  overflow: hidden;
}

.newsletter-box h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #cab273;
}
.newsletter-box p {
  font-size: 1rem;
  font-weight: 700;
  color: #5a5a5a;
  margin-top: 20px;
}

.newsletter-box form {
  width: 550px;
  height: 75px;
  background-color: #ffffffe8;
  position: relative;
  margin: 40px auto auto auto;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.newsletter-box form input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: transparent;
  padding-left: 25px;
  color: #5a5a5a;
  font-size: 1rem;
}

.newsletter-box form input::placeholder {
  color: #5a5a5a;
}

.newsletter-box form button {
  padding: 15px 15px;
  border: none;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: #fffffffa;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  background-color: #fff; /*The picture has no background. */
  background-image: url(./images/bto.png);
  width: 100px;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 15px 15px 0;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.664);
}
.newsletter-box form button:hover {
  background-image: url(./images/bto2.png);
  width: 100px;
  height: 75px;
  border-radius: 0 15px 15px 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

@media (max-width: 768px) {

  .newsletter-container {
    width: 500px;
  }
  .newsletter-box {
    padding: 50px 10px;
  }

  .newsletter-box h2 {
    font-size: 2rem;
  }

  .newsletter-box form {
    width: 70%;
  }

}

/* footer */
.footer {
  padding: 40px 0;
}

.footer .footer-social {
  text-align: center;
  padding-bottom: 25px;
}
.footer .footer-social a {
  font-size: 2rem;
  color: #cab273;
  width: 40px;
  height: 40px;
  display: inline;
  margin: 0 8px;
  opacity: 9;
}

.footer .footer-social a:hover {
  opacity: 0.75;
}

.footer .footer-list {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer .footer-list li {
  display: inline-block;
  padding: 0 15px;
}
.footer .footer-list li a {
  color: #666;
  text-decoration: none;
}
.footer .footer-list li a:hover {
  color: #cab273;
}

.footer .footer-copyight {
  margin-top: 15px;
  text-align: center;
  font-size: 1rem;
  color: #aaa;
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .footer .footer-social a {
    font-size: 1.5rem;
    margin: 0 5px;
  }

  .footer .footer-list li {
    padding: 0 10px;
  }
}
